<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UCM -->
      <package
            uri="http://cs.mcgill.ca/sel/ucm/1.0"
            class="ca.mcgill.sel.ucm.UCMPackage"
            genModel="model/UCM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated UCM -->
      <parser
            type="ucm"
            class="ca.mcgill.sel.ucm.util.UCMResourceFactoryImpl"/>
   </extension>

</plugin>
