<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated UCM -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ca.mcgill.sel.ucm.presentation.UCMModelWizardID"
            name="%_UI_UCMModelWizard_label"
            class="ca.mcgill.sel.ucm.presentation.UCMModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/UCMModelFile.gif">
         <description>%_UI_UCMModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated UCM -->
      <editor
            id="ca.mcgill.sel.ucm.presentation.UCMEditorID"
            name="%_UI_UCMEditor_label"
            icon="icons/full/obj16/UCMModelFile.gif"
            extensions="ucm"
            class="ca.mcgill.sel.ucm.presentation.UCMEditor"
            contributorClass="ca.mcgill.sel.ucm.presentation.UCMActionBarContributor">
      </editor>
   </extension>

</plugin>
